:root {
  /* Primary */
  --scissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizardGradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  /* Neutral */
  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);

  /* Background */
  --radialGradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  background: radial-gradient(var(--radialGradient));
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 375px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--headerOutline);
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 120px;
  line-height: 14pt;
}

.score-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  width: 12vh;
}

.score-title {
  color: var(--scoreText);
  font-size: 8pt;
  letter-spacing: 1px;
}

.score {
  color: var(--darkText);
  font-size: 32pt;
}

.opcoes {
  display: block;
  background: url("images/bg-triangle.svg") no-repeat;
  background-position: center;
  background-size: 220px;
  margin-top: 100px;
  margin-inline: 5px;
}

.opcoes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  /* margin-bottom: 20px; */
  margin-top: 10px;
}

.opcoes-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.img-paper,
.img-scissors,
.img-rock {
  width: 45px;
  transition: 0.3s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(349, 0%, 96%);
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1;
  padding: 5px;
  box-shadow: inset 0px 5px 0px 0px hsl(349, 0%, 83%);
  transition: 0.3s;
}

.border {
  top: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 130px;
  aspect-ratio: 1;
}

.border-paper {
  background: linear-gradient(var(--paperGradient));
  box-shadow: 0px 6px 0px 0px #2b45c4;
  transition: 0.3s;
}

.border-scissors {
  background: linear-gradient(var(--scissorsGradient));
  box-shadow: 0px 6px 0px 0px #ab7410;
}

.border-rock {
  background: linear-gradient(var(--rockGradient));
  box-shadow: 0px 6px 0px 0px #a82842;
}

a:hover .button {
  box-shadow: inset 0px 0px 0px 0px hsl(349, 0%, 83%);
}

a:hover .border-paper {
  box-shadow: 0px 0px 0px 0px #2b45c4;
}

a:hover .img-paper {
  transform: scale(1) rotate(-15deg);
}

a:hover .border-scissors {
  box-shadow: 0px 0px 0px 0px #2b45c4;
}

a:hover .img-scissors {
  transform: scale(1) rotate(-15deg);
}

a:hover .border-rock {
  box-shadow: 0px 0px 0px 0px #2b45c4;
}

a:hover .img-rock {
  transform: scale(1) rotate(-15deg);
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  margin-top: 50px;
  margin-bottom: 50px;
  bottom: 0;
}

.rules-bt {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 7px;
  padding: 10px;
  width: 120px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
}

.rules-bt:hover {
  background: #ffffff;
  color: var(--darkText);
}

/* RULES MODAL */
.rules {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: inherit;
}

.rules-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 5px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  max-width: 100%;
  height: 100vh;
  transition: 0.3s;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.rules-header {
  grid-area: header;
}

.rules-main {
  grid-area: main;
}

.rules-footer {
  grid-area: footer;
}

.rules {
  color: var(--darkText);
}

.close-bt {
  border: none;
  background: transparent;
}

/* GAME */

.game {
  display: none;
  margin-top: 80px;
}

.box-choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  position: relative;
}

.pick {
  position: absolute;
  color: #ffffff;
  bottom: 0;
  width: 150px;
  letter-spacing: 1px;
}

.hide-choose {
  background: hsl(214, 47%, 15%);
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1;
  padding: 5px;
}

.game-header {
  display: grid;
  grid-template-areas:
    "player house"
    "win win";
}

.player {
  grid-area: player;
}

.house {
  grid-area: house;
}

.win {
  grid-area: win;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 30px;
}

.win-message {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 40pt;
}

.win-bt {
  background: #ffffff;
  border: none;
  border-radius: 6px;
  color: var(--darkText);
  padding: 12px;
  width: 210px;
  font-size: 12pt;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 1px;
  transition: 0.3s;
}

.win-bt:hover {
  color: hsl(349, 71%, 52%);
}

.player-choose {
  width: 130px;
  animation-duration: 1s;
  animation-name: slidein;
  position: relative;
}

.house-choose {
  width: 130px;
}

@keyframes slidein {
  0% {
    left: 10%;
    right: 0%;
  }
  100% {
    left: 0%;
    right: 100%;
  }
}

.winner {
  width: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #56507018, 0 0 0 50px #56507018, 0 0 0 80px #56507018;
  transition: 0.3s;
}

/* Responsive design */
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }

  /* HEADER */
  .header {
    border: 2px solid var(--headerOutline);
    border-radius: 10px;
    padding: 15px;
    margin: 40px;
    width: 550px;
  }

  .title {
    width: 150px;
  }

  .score-box {
    width: 20vh;
    height: 15vh;
  }

  .score-title {
    color: var(--scoreText);
    font-size: 10pt;
    letter-spacing: 1px;
  }

  .score {
    color: var(--darkText);
    font-size: 32pt;
  }

  /* OPTIONS */
  .opcoes {
    background-size: 250px;
    width: 400px;
    margin-top: 20px;
    border: 1px solid transparent;
  }

  .opcoes-header {
    padding-inline: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .opcoes-footer {
    margin-top: 20px;
  }

  .img-paper,
  .img-scissors,
  .img-rock {
    width: 55px;
  }

  .button {
    padding: 10px;
    width: 120px;
  }

  .border {
    width: 150px;
  }

  /* FOOTER */
  .footer {
    justify-content: end;
    width: 100%;
    margin-right: 50px;
  }

  /* GAME */

  .game {
    display: none;
    margin-top: 0;
  }

  .box-choose {
    display: grid;
    grid-template-areas:
      "pick"
      "choose";
    gap: 10px;
  }

  .game-header {
    display: grid;
    gap: 5em;
    grid-template-areas: "player win house";
  }

  .choose {
    grid-area: choose;
  }

  .pick {
    position: static;
    grid-area: pick;
  }

  .winner {
    width: 150px;
    box-shadow: 0 0 0 50px #56507018, 0 0 0 90px #56507018, 0 0 0 120px #56507018;
  }

  /* RULES MODAL */
  .rules {
    background: var(--darkText);
    height: 100vh;
    background: rgba(59, 66, 98, 0.3);
  }

  .rules-container {
    grid-template-areas:
      "header footer"
      "main main";
    gap: 25px;
    width: 380px;
    height: 380px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }

  .rules-text img {
    width: 100%;
  }

  .rules-header {
    display: flex;
    justify-content: start;
  }

  .rules-footer {
    display: flex;
    justify-content: end;
  }
}
